@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* background-color: main webpage
*
* primary-color: This is usually used for primary elements, 
*   such as text color or a main highlight color on your website.
*
* secondary-color: This is often used as a secondary or complementary color, 
*   which could be applied to less prominent elements like buttons or borders.
*
* accent-color: This is generally a more vibrant color, 
*   used to emphasize important elements such as buttons, links, or call-to-action components.
*/
/* globals.css */
:root {
    /* Default (Light) Theme */
    /* TEMP */
    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;

    --button-background-color: #007AFF;
    --accent-color: #000000;

    --background-color: #000000;
    /*
--primary-text-color: #FFFFFF;
--secondary-text-color: #000000;

--button-background-color: #007AFF;

--highlight-color: #000000;

--background-color: #FFFFFF;
*/
}

[data-theme="light"] {
    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;

    --button-background-color: #007AFF;
    --accent-color: #000000;

    --background-color: #FFFFFF;
}

[data-theme="dark"] {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000000;

    --button-background-color: #007AFF;
    --accent-color: #FFFFFF;

    --background-color: #000000;
}

[data-theme="halloween"] {
    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;

    --button-background-color: #FF6500;
    --accent-color: #FF6500;

    --background-color:  #FFFFFF;
}

[data-theme="purple"] {
    --primary-text-color: #FFE1FF;
    --secondary-text-color: #000000;

    --button-background-color: #E4B1F0;
    --accent-color: #E4B1F0;

    --background-color: #433878;

}

@layer components {
    .theme-option {
        height: 25px;
        width: 25px;
        border: 1px solid;
        border-radius: 50%;
        cursor: pointer;
    }

    .theme-options {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}

#theme-light {
    background-color: #007AFF;
    border-color: white;
}

#theme-dark {
    background-color: #000000;
    border-color: white;
}

#theme-halloween {
    background-color: #FF6500;
    border-color: white;
}

#theme-purple {
    background-color: #E4B1F0;
    border-color: #FFFFFF;
}

html, body, #root {
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;

    font-size: 18px;
    font-weight: 400;

    background-color: var(--background-color);
}

button {
    background-color: var(--button-background-color);
    color: var(--secondary-text-color);
    transition: filter 0.5s ease;
}

button:hover {
    filter: brightness(125%);
}

button a {
    color: var(--secondary-text-color);
}

div {
    background-color: inherit;
    color: var(--primary-text-color);
    font-size: 12px;
}

li {
    list-style: none;
}

a {
    color: var(--primary-text-color);
    cursor: pointer;
}

h1 {
    font-size: 24px;
    color: var(--primary-text-color);
}

h2 {
    font-size: 20px;
    color: var(--primary-text-color);
}

#game-info-card {
    background-color: var(--button-background-color);
    transition: background-color 0.5s ease;
}

#game-info-card:hover {
    filter: brightness(115%);
}

#game-info-card div p {
    color: var(--accent-color);
}

#game-info-card h2, h3 {
    color: var(--secondary-text-color)
}

#topnav-container {
    border-bottom: 1px solid var(--primary-text-color);
    padding: 0 6px;
}

#outlined-card {
    border: 1px solid var(--accent-color);
    border-radius: 8px;
}

.swipe-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.swipe-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.swipe-item {
    flex-shrink: 0;
    width: 100%; /* You can dynamically set the width via JavaScript */
}

#left-arrow, #right-arrow {
    background-color: inherit;
    color: var(--primary-text-color);
    transition: color 0.5s ease;
}

#left-arrow:hover, #right-arrow:hover {
    color: var(--button-background-color);
}
